.portifolio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 3rem;
    background-image: url('../src/img/fund.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1}

.app-container {
    display: flex;
    justify-content: space-between; 
    padding: 3rem;

    }
    