.fundoList{

    background-color: white;
    border-radius: 8px;
    margin: 30px;
    width: 95.2vw; 
    height: 90vh; 

}
.input-group{

    padding: 20px;

}
.nomeRestaurante{

    margin: 10px;
    font-family: 'Playball';
    font-size: 5rem;
    color: rgb(0, 0, 0);

}